---
import Section from "@/components/ui/Section.astro";
---

<Section class="h-dvh text-blanco relative overflow-hidden">
  <img
    src="https://xkale.com/wp-content/uploads/2025/08/bg-ciberseguridad.jpg"
    alt="experiencia del cliente"
    class="w-full h-full object-cover absolute inset-0 -z-10 mask-b-from-20% mask-b-to-90%"
  />
  <div class="flex flex-col w-full h-full justify-center">
    <div class="w-full max-w-lg space-y-5">
      <header>
        <h1 class="text-[2rem] md:text-[4rem] font-bold text-balance">Experiencia del Cliente</h1>
      </header>
      <p class="text-pretty">
        Te ayudamos a diseñar y construir experiencias escuchando la voz de tus
        clientes para atraerlos, servirlos y fidelizarlos, apoyándonos en
        plataformas y programas de Experience Management que transforman tus
        resultados de negocio
      </p>
      <footer>
        <a href="#" class="bg-blanco px-4 py-2 text-negro font-semibold rounded-xl">Saber más</a>
      </footer>
    </div>
  </div>
</Section>
