---
import CxServices from "@/components/CxServices.astro";
import Section from "@/components/ui/Section.astro";
import { SERVICE } from "@/lib/const/service";
---

<Section class="bg-blanco">
  <h2 class="text-center font-bold text-xl md:text-4xl mb-6 text-negro">Nuestras Soluciones</h2>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
    {
      SERVICE.map(({id, name, figureSrc})=>(
        <CxServices id={id} name={name} figureSrc={figureSrc} />
      ))
    }
  </div>
</Section>