@import "tailwindcss";

@theme {
  --color-verde-planta: #6BD63D;
  --color-blanco: #fcfcfc;
  --color-negro: #040404;
  --color-gris-escudo: #D1DBCC;

  /* complementarios */
  
  --color-morado-real: #c980ed;
  --color-azul-cielo: #338fff;
  --color-amarillo-solar: #ebe080;
}

.mask-image {
  mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 100%);
}