@import "tailwindcss";

@theme {
  --color-verde-planta: #6BD63D;
  --color-blanco: #fcfcfc;
  --color-negro: #040404;
  --color-gris-escudo: #D1DBCC;

  /* complementarios */
  
  --color-morado-real: #c980ed;
  --color-azul-cielo: #338fff;
  --color-amarillo-solar: #ebe080;
}

@font-face {
  font-family: Public Sans;
  src: url("/fonts/public-sans/PublicSans-VariableFont_wght.woff2") format('woff2');
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

body{
  font-family: Public Sans, sans-serif, system-ui, -apple-system;
}

.mask-image {
  mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 100%);
}