---
interface Props {
  icon: any;
  count: number;
  title: string;
  showPlus?: boolean;
  showPorcentaje?: boolean;
}

const {
  icon: Icon,
  count,
  title,
  showPlus = false,
  showPorcentaje = false,
} = Astro.props;
---

<div
  class="border border-negro rounded-xl p-6 flex flex-col items-center space-y-5"
>
  <Icon class="size-12" />
  <div class="count">
    {showPlus && <span class="font-bold text-4xl">+</span>}
    <span class="text-4xl font-bold number" data-target={count}>0</span>
    {showPorcentaje && <span class="font-bold text-4xl">%</span>}
  </div>
  <h3 class="text-xl font-bold text-center">{title}</h3>
</div>

<script is:inline>
  function animateCounters() {
    const counters = document.querySelectorAll(".number");

    counters.forEach((counter) => {
      const target = parseInt(counter.getAttribute("data-target") || "0");
      const duration = 2000;
      const increment = target / (duration / 16);
      let current = 0;

      const updateCounter = () => {
        current += increment;
        if (current < target) {
          counter.textContent = Math.floor(current).toString();
          requestAnimationFrame(updateCounter);
        } else {
          counter.textContent = target.toString();
        }
      };

      updateCounter();
    });
  }

  document.addEventListener("DOMContentLoaded", animateCounters);
</script>
