---
import InstaIcon from "@/assets/iconos/instagram.svg"
import YouTube from "@/assets/iconos/youtube.svg"
import LinkedIn from "@/assets/iconos/linkedin.svg"
---
<footer class="bg-negro text-blanco">
  <div class="container mx-auto p-4 xl:px-48 xl:py-8">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <section></section>
      <section class="space-y-5">
        <header>
          <h2 class="text-[clamp(var(--text-lg),4vw,var(--text-xl))] font-bold">
            Información de contacto
          </h2>
        </header>
        <ul class="space-y-1.5">
          <li>Ecuador: +593 99 999 9999</li>
          <li>Perú: +51 99 999 9999</li>
          <li>México: +52 99 999 9999</li>
          <li>Bolivia: +591 99 999 9999</li>
        </ul>
        <p>contacto@xkale.com | informe@xkale.com</p>
      </section>

      <section>
        <header class="mb-5">
          <h2 class="text-[clamp(var(--text-lg),4vw,var(--text-xl))] font-bold">
            Síguenos en nuestras redes sociales
          </h2>
        </header>
        <nav class="flex gap-5">
          <a href=""><InstaIcon class="w-auto h-6"/></a>
          <a href=""><YouTube class="w-auto h-6"/></a>
          <a href=""><LinkedIn class="w-auto h-6"/></a>
        </nav>
      </section>
    </div>
    <footer class="flex flex-wrap justify-center md:justify-between border-t border-blanco mt-4 pt-4">
      <div>
        <small>&copy; 2023 XKale. Todos los derechos reservados.</small>
      </div>
      <div>
        <nav>
          <a href=""><small>Términos de servicio</small></a>
          <span>|</span>
          <a href=""><small>Política de privacidad</small></a>
        </nav>
      </div>
    </footer>
  </div>
</footer>
