<footer
  class="container p-4 xl:px-48 xl:py-8 relative bg-negro text-blanco h-128 overflow-hidden"
>
  <img
    src="https://xkale.com/wp-content/uploads/2025/08/ciberseguridad-img-1.jpg"
    alt=""
    class="absolute w-full h-full object-cover object-top inset-0 mask-b-from-20% mask-b-to-90%"
  />
  <div class="relative z-10 flex flex-col justify-center items-center space-y-10 w-full h-full">
    <p class="text-center font-bold text-3xl">
      La nueva ventaja competitiva se construye con conocimiento experto,
      tecnología de vanguardia y un enfoque consultivo estratégico.
    </p>
    <a href="" class="bg-azul-cielo rounded-xl text-center font-semibold px-6 py-2 ">Conoce nuestras soluciones</a>
  </div>
</footer>
