---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"section">
const {...props} = Astro.props as Props;
---

<section {...props} class={Astro.props.class}>
  <div class="container mx-auto p-4 xl:px-48 xl:py-8">
    <slot />
  </div>
</section>