---
import Footer from "@/components/ui/Footer.astro";
import "../styles/global.css";
import PreFooter from "@/components/ui/PreFooter.astro";

interface prop {
  title?: string;
  description?: string;
  img?: string;
}

const { title, description, img } = Astro.props as prop;
---

<html lang="es-CO">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Xkale | ${title}`}</title>
    <meta name="description" content={description} />
    <script type="module" src="src/lib/js/main.js"></script>
  </head>
  <body>
    <slot />
    <PreFooter />
    <Footer />
  </body>
</html>
